


<h1 class="bg-primary  text-center text-white p-4">Heading</h1>


<div class="container">
  <div class="row">
    <div class="col-12"*ngIf="true"> <!--<div class="col-12"*ngIf="false"></div>-->
      <app-products></app-products>
    </div>
  </div>
</div> 
<hr> 

<app-tab></app-tab>

<hr>
  <app-skillsset></app-skillsset> 
<br>

      <app-std-table></app-std-table>
<br>

    



<!--  
  directives :
                which gives instructions to DOM UI
                3 are type 
                1) component Directive
                2) Structural Directive
                3) Attribute  Directive
-->


<!--    2) Structural Directive :
                  It changes structure of UI awalys. with use(*ngIf).

         3) Attribute  Directive  :
                  It changes look and feel of the UI .with use [ngstyle].
--> 